/*! http://responsiveslides.com v1.53 by @viljamis */

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	visibility: inherit;
	width: 1000px;
	height: 450px;;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
	font-size: 10px;
  }

.rslides img {
	display: list-item;
	height: 450px;
	float: left;
	border: 0;
	width: 100%;
  }
